<!doctype html>
<html>
    <head>
        <link rel = "stylesheet" th:href= "@{/style.css}"/>
        <title>알바톡! | 알바생들의 리뷰 플랫폼 </title>
        <meta charset="utf-8">
        
    </head>

    <body>
        <div id = "wrap"> 
            <header id = "header">
                <div class = "h_logo"><a href = "index.html"><img th:src = "@{/images/img2.png}" width = "80" height="80"> </a></div>
                <h1> ALBA TALK</h1>
                
                <div class = "h_nav">

                </div>

                <div class="h_box">

                </div>

                <div class ="write"> 
                    <a href="#">글쓰기</a>
                </div>

                <div class = "log_in">
                    <a th:href="@{/login}">로그인</a>
                </div>

            </header>

            <section id = "section">

                <div class = "banner"> 
                    <ul>
                        <li> <a href="http://www.moel.go.kr/index.do"> <img th:src ="@{/images/1318.png}" width= "80%" height = "350"></a></li>
                    </ul>
                </div>

                <div class = "contents_wrap">
                    <ul>
                        <li class = "title"><a href="#">베스트 톡<img th:src= "@{/images/img3.png}" width = "25" height = "25"> <span>더보기 ></span></a> </li>
                        <li class = "board"><a href="#">게시물 제목</a> </li>
                        <li class = "board"><a href="#">게시물 제목</a> </li>
                        <li class = "board"><a href="#">게시물 제목</a> </li>
                        <li class = "board"><a href="#">게시물 제목</a> </li>
                        <li class = "board"><a href="#">게시물 제목</a> </li>
                    </ul>

                    <ul>
                        <li class = "title"><a href="#">대타 톡 <img th:src= "@{/images/img4.png}" width = "25" height = "25"><span>더보기 ></span></a> </li>
                        <li class = "board"><a href="#">게시물 제목</a> </li>
                        <li class = "board"><a href="#">게시물 제목</a> </li>
                        <li class = "board"><a href="#">게시물 제목</a> </li>
                        <li class = "board"><a href="#">게시물 제목</a> </li>
                        <li class = "board"><a href="#">게시물 제목</a> </li>
                    </ul>

                    <ul>
                        <li class = "title"><a href="#">홍보 톡 <img th:src= "@{/images/img1.png}" width = "25" height = "25"><span>더보기 ></span></a> </li>
                        <li class = "board"><a href="#">게시물 제목</a> </li>
                        <li class = "board"><a href="#">게시물 제목</a> </li>
                        <li class = "board"><a href="#">게시물 제목</a> </li>
                        <li class = "board"><a href="#">게시물 제목</a> </li>
                        <li class = "board"><a href="#">게시물 제목</a> </li>
                    </ul>
                </div>

                <div class = "contents_wrap">
                    <ul>
                        <li class = "title"><a href="#">알바 톡<img th:src= "@{/images/img2.png}" width = "25" height = "25"> <span>더보기 ></span></a> </li>
                        <li class = "board"><a href="#">게시물 제목</a> </li>
                        <li class = "board"><a href="#">게시물 제목</a> </li>
                        <li class = "board"><a href="#">게시물 제목</a> </li>
                        <li class = "board"><a href="#">게시물 제목</a> </li>
                        <li class = "board"><a href="#">게시물 제목</a> </li>
                    </ul>

                    <ul>
                        <li class = "title"><a href="#">매장 톡 <img th:src= "@{/images/img5.png}" width = "25" height = "25"><span>더보기 ></span></a> </li>
                        <li class = "board"><a href="#">게시물 제목</a> </li>
                        <li class = "board"><a href="#">게시물 제목</a> </li>
                        <li class = "board"><a href="#">게시물 제목</a> </li>
                        <li class = "board"><a href="#">게시물 제목</a> </li>
                        <li class = "board"><a href="#">게시물 제목</a> </li>
                    </ul>

                </div>

                <div class = "rank">
                    <ul class = " backgronder">
                        <li class ="ranking"> ALBA TALK 인기매장</li>
                        <li class = "spot"> 1. 스타벅스 <img th:src = "@{/images/uppoint.png}"></li>
                        <li class = "spot"> 2. 이디야 <img th:src= "@{/images/uppoint.png}"></li>
                        <li class = "spot"> 3. 투썸 플레이스 <img th:src= "@{/images/bluedown.png}"></li>
                        <li class = "spot"> 4. 공차 <img th:src= "@{/images/line2.png}"></li>
                        <li class = "spot"> 5. 맥도날드 <img th:src= "@{/images/uppoint.png}"></li>
                        <li class = "spot"> 6. 버거킹 <img th:src= "@{/images/line.png}"></li>
                        <li class = "spot"> 7. 세븐일레븐 <img th:src= "@{/images/line.png}"></li>
                        <li class = "spot"> 8. GS 25 <img th:src= "@{/images/uppoint.png}"></li>
                        <li class = "spot"> 9. CU <img th:src= "@{/images/bluedown.png}"></li>
                        <li class = "spot"> 10. 미니스톱 <img th:src= "@{/images/bluedown.png}"></li>
                    </ul>

                    <ul>
                        
                    </ul>
                    
                </div>
            </section>

            <footer id = "footer"></footer>

        </div>
    </body>

</html>
